# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.env
*.sqlite3
db.sqlite3
media/
staticfiles/
.idea/
.vscode/
*.log
.DS_Store
Thumbs.db

# Java / Maven
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
*.iml
out/